<p-toolbar>
    <ng-template #start>
        <p-button [text]="true" [rounded]="true" routerLink="/">
            <i class="material-icons">arrow_back</i>
        </p-button>
        <span class="toolbar-title">UUID Generator</span>
    </ng-template>
</p-toolbar>

<div class="tool-container">
    <p-card header="Settings">
        <div class="settings-row">
            <div class="setting">
                <label class="setting-label">Version</label>
                <p-selectbutton [options]="versionOptions" [(ngModel)]="version" optionLabel="label" optionValue="value"></p-selectbutton>
            </div>
            <div class="setting">
                <label class="setting-label">Format</label>
                <p-selectbutton [options]="formatOptions" [(ngModel)]="format" optionLabel="label" optionValue="value" (onChange)="onFormatChange()"></p-selectbutton>
            </div>
        </div>
        <ng-template #footer>
            <div class="card-footer">
                <p-button (onClick)="onGenerate()">
                    <i class="material-icons">refresh</i> Generate
                </p-button>
                <p-button [text]="true" (onClick)="onClear()" label="Clear" [disabled]="!guidHistory.length"></p-button>
            </div>
        </ng-template>
    </p-card>

    <p-card header="Current GUID" *ngIf="currentGuid">
        <div class="current-guid">{{currentGuid}}</div>
        <ng-template #footer>
            <div class="card-footer">
                <p-button [text]="true" (onClick)="onCopy(currentGuid)">
                    <i class="material-icons">content_copy</i> Copy
                </p-button>
            </div>
        </ng-template>
    </p-card>

    <p-card header="History ({{guidHistory.length}})" *ngIf="guidHistory.length > 1">
        <div class="guid-list">
            <div class="guid-item" *ngFor="let guid of guidHistory; let i = index"
                 (click)="onCopy(guid)">
                <span class="guid-text">{{guid}}</span>
                <i class="material-icons copy-icon">content_copy</i>
            </div>
        </div>
        <ng-template #footer>
            <div class="card-footer">
                <p-button [text]="true" (onClick)="onCopyAll()">
                    <i class="material-icons">content_copy</i> Copy All
                </p-button>
            </div>
        </ng-template>
    </p-card>
</div>
