<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="${basedir}\..\App_Logs\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>

		<target name="LogDebugger" xsi:type="Debugger"
			layout="[${longdate}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}" />

		<target name="TxtInfo" xsi:type="File" encoding="utf-8"
			keepFileOpen="true"
			fileName="${basedir}\..\App_Logs\NLog\info.txt"
			layout="[${longdate}][${machinename}][${environment:ASPNETCORE_ENVIRONMENT}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}"
			maxArchiveFiles="30"
			archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.info.txt"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			archiveEvery="Day" />

		<target name="TxtWarn" xsi:type="File" encoding="utf-8"
			keepFileOpen="true"
			fileName="${basedir}\..\App_Logs\NLog\errors.txt"
			layout="[${longdate}][${machinename}][${environment:ASPNETCORE_ENVIRONMENT}][${level}] ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n} ${newline}   URL: ${aspnet-request-url} ${newline}   REQUEST-QUERYSTRING: ${aspnet-Request-QueryString} ${newline}   ACTION: ${aspnet-mvc-controller}-${aspnet-mvc-action} ${newline}   HOST: ${aspnet-Request-Host} ${newline}   REQUEST-METHOD: ${aspnet-Request-Method} ${newline}   REQUEST-REFERRER: ${aspnet-Request-Referrer} ${newline}   REQUEST-USERAGENT: ${aspnet-Request-UserAgent} ${newline}   SESSION_ID: ${aspnet-SessionId} ${newline}   TRACE_IDENTIFIER: ${aspnet-TraceIdentifier} ${newline}"
			maxArchiveFiles="30"
			archiveFileName="${basedir}\..\App_Logs\NLog_Archive\{###}.errors.txt"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			archiveEvery="Day" />

	</targets>
	<rules>

		<logger name="*" minlevel="Warn" writeTo="TxtInfo,TxtWarn,LogDebugger" final="true" />
		<logger name="*" minlevel="Info" writeTo="TxtInfo,LogDebugger" final="true" />

	</rules>
</nlog>
